//primary
$primaryColor: #00ae68;
$primaryDarkColor: #21825b;
$primaryDark2Color: #007143;
$primaryLightColor: #36d695;
$primaryLight2Color: #60d6a7;
//secondary A
$secondaryAColor: #0b5fa5;
$secondaryADarkColor: #25547b;
$secondaryADark2Color: #043c6b;
$secondaryALightColor: #3f8fd2;
$secondaryALight2Color: #66a1d2;
//secondary B
$secondaryBColor: #ff9400;
$secondaryBDarkColor: #bf8330;
$secondaryBDark2Color: #a66000;
$secondaryBLightColor: #ffae40;
$secondaryBLight2Color: #ffc473;
//additional
$additionalColor: #ff4c00;
$additionalDarkColor: #bf5b30;
$additionalDark2Color: #a63100;
$additionalLightColor: #ff7940;
$additionalLight2Color: #ff9d73;
//other
$otherLightColor: #fff;
$otherDarkColor: #000;
